<div class="content-section">
    <div class="left-content">
        <img src="assets/quem-somos.svg" class="image" alt="Quem somos">
    </div>
    <div class="right-content">
        <h2>QUEM SOMOS?</h2>
        <p>Somos uma dupla de amigas que decidiu transformar sua paixão pela moda em realidade. Nossa jornada começou com um sonho compartilhado e se tornou uma loja que celebra a beleza e a individualidade de cada mulher. Em nosso espaço, oferecemos uma seleção cuidadosa de peças que refletem uma variedade de estilos, proporcionando uma experiência única onde cada cliente se sente especial e valorizada. Nossa missão é inspirar confiança e empoderamento através da moda, acreditando no poder transformador das roupas para expressar quem somos. Junte-se a nós e celebre sua beleza única em nosso espaço de estilo e amizade.</p>
    </div>
</div>
