<article>
    <h5>COMPRE NOSSOS</h5>
    <h2>MAIS VENDIDOS</h2>
    <div class="product-container">
        <div class="product">
            <img src="assets/look 4.svg" alt="Jaqueta">
            <p>JAQUETA JASMINE</p>
        </div>
        <div class="product">
            <img src="assets/look 3.svg" alt="Tênis">
            <p>TÊNIS ANITTA</p>
        </div>
        <div class="product">
            <img src="assets/look 2.svg" alt="T-SHIRT">
            <p>T-SHIRT CADENSE</p>
        </div>
        <div class="product">
            <img src="assets/look 1.svg" alt="ÓCULOS">
            <p>ÓCULOS CARINA</p>
        </div>
    </div>
</article>